* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: max(350px, 100%);
    margin: 0;
}

#calculator {
    width: clamp(350px, 90%, 630px);
    border: 1px solid;
    padding:5px;
}

#display {
    font-size: 1.5rem;
    text-align: right;
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
}

#input-1 {
    resize: none;
    line-height: 2rem;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#keyboard {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.key-num {
    flex-grow: 1;
    width: 33%;
    text-align: center;
    font-weight: bold;
    line-height: 2rem;
}